.main {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
  width: 100vw;
}

.p20-mp0 {
  padding: 0 10px;
}

@media only screen and (max-width: 800px) {
  .main {
    margin-top: 0 !important;
  }

  .p20-mp0 {
    padding: 0;
  }
}