<!--<router-outlet /> -->
<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div
        style="
          display: flex;
          align-items: center;
          padding-right: 20px;
          padding-left: 30px;
          gap: 10px;
        "
      >
        <img
          src="icon.d3d4aef.svg"
          alt="logo"
          style="height: 40px; margin-right: 10px"
        />
        <h3
          [style]="{ margin: 0, 'white-space': 'nowrap' }"
          style="display: flex; gap: 7px"
        >
          <span>audiobookshelf</span> <span>-</span> <span>Maria Valtorta</span>
        </h3>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon" style="margin-right: 7px"></span>
        <span class="ml-2">{{ item.label }}</span>
        <span
          *ngIf="item.shortcut"
          style="padding-left: 5px"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          style="padding-left: 5px"
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
  </p-menubar>
</div>

<div class="main">
  <div style="width: 100%; height: 100%; margin-bottom: 30px">
    <p-card>
      <div class="p20-mp0">
        <h2>Créer un compte</h2>

        <div style="position: absolute; right: 30px; top: 80px">
          <p-progressSpinner *ngIf="loading" ariaLabel="loading" />
        </div>
        <form>
          <div style="display: flex; gap: 10px; flex-direction: column">
            <div style="display: flex; gap: 5px; flex-direction: column">
              <label for="name">Nom d'utilisateur</label>
              <input
                style="width: 100%"
                name="name"
                id="name"
                type="text"
                placeholder="John Doe"
                pInputText
                autocomplete="off"
                [(ngModel)]="name"
              />
            </div>
            <div style="display: flex; gap: 5px; flex-direction: column">
              <label for="email">Email</label>
              <input
                style="width: 100%"
                name="email"
                id="email"
                type="email"
                placeholder="john@doe.com"
                pInputText
                autocomplete="off"
                [class]="emailError ? 'ng-invalid ng-dirty' : ''"
                [(ngModel)]="email"
              />
              <span
                *ngIf="emailError"
                id="last-name-help"
                style="float: left; padding-left: 5px; color: #e24c4c"
              >
                Email incorrect.
              </span>
            </div>
            <div style="display: flex; gap: 5px; flex-direction: column">
              <label for="subject">Mot de passe</label>
              <input
                style="width: 100%"
                name="subject"
                id="subject"
                type="password"
                placeholder="****"
                pInputText
                autocomplete="off"
                [(ngModel)]="password"
              />
            </div>
            <div>
              <p-button
                type="submit"
                label="S'inscrire"
                [disabled]="!name || !email || !password || loading"
                (onClick)="signup()"
              ></p-button>
            </div>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>
