/* You can add global styles to this file, and also import other style files */




html,
body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to right bottom, #f2f2f2, #e6e6e6);
  background-repeat: no-repeat;
  background-size: cover;
}