/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to right bottom, #f2f2f2, #e6e6e6);
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
  min-height: 100%;
  margin: 0;
}


body {
  padding: 0;
  line-height: 1.3;
}

app-root,
.fc1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}